@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

.dosis-logo {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }